<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>  登录     </description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ccim.servlet.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>  注册     </description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.ccim.servlet.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>BaseHttpServlet</display-name>
    <servlet-name>BaseHttpServlet</servlet-name>
    <servlet-class>com.ccim.servlet.servlet.BaseHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseHttpServlet</servlet-name>
    <url-pattern>/BaseHttpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>  聊天记录     </description>
    <display-name>ChatRecordServlet</display-name>
    <servlet-name>ChatRecordServlet</servlet-name>
    <servlet-class>com.ccim.servlet.servlet.QueryChatRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatRecordServlet</servlet-name>
    <url-pattern>/chatRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>  添加聊天记录     </description>
    <display-name>AddChatRecordServlet</display-name>
    <servlet-name>AddChatRecordServlet</servlet-name>
    <servlet-class>com.ccim.servlet.servlet.AddChatRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddChatRecordServlet</servlet-name>
    <url-pattern>/addChatRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>  获取聊天人用户信息     </description>
    <display-name>ChatUserInfoServlet</display-name>
    <servlet-name>ChatUserInfoServlet</servlet-name>
    <servlet-class>com.ccim.servlet.servlet.ChatUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatUserInfoServlet</servlet-name>
    <url-pattern>/chatUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>  添加好友     </description>
    <display-name>AddFriendServlet</display-name>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>com.ccim.servlet.servlet.AddFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/addFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>	我的好友	</description>
    <display-name>MyFriendsServlet</display-name>
    <servlet-name>MyFriendsServlet</servlet-name>
    <servlet-class>com.ccim.servlet.servlet.MyFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFriendsServlet</servlet-name>
    <url-pattern>/myFriends</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ServletOutputStream的测试</description>
    <display-name>OutPutStreamServlet</display-name>
    <servlet-name>OutPutStreamServlet</servlet-name>
    <servlet-class>com.ccim.servlet.servlet.test.OutPutStreamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutPutStreamServlet</servlet-name>
    <url-pattern>/utPutStreamTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>创建群组--保存创建的群组信息</description>
    <display-name>GroupCreateServlet</display-name>
    <servlet-name>GroupCreateServlet</servlet-name>
    <servlet-class>com.ccim.servlet.servlet.GroupCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupCreateServlet</servlet-name>
    <url-pattern>/groupCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>上传文件</description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.ccim.servlet.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
</web-app>